:root {
    --main-title-color: #2E2F42;
    --main-text-color:#434455;
    --main-background-color: #2E2F42;
    --main-highlight-color: #404BBF;
}

body {
    font-family: "Roboto", sans-serif;
    }

.list {
    list-style: none;
}

.link {
    text-decoration: none;
}
/*Top line */

.header {
    font-size: 16px;
    line-height: 1.5;
}

.logo {
    color: #2E2F42;
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    }

.logo-color {
    color: #4D5AE5;
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.header-navigation {
    font-family: inherit;
    font-size: 16px;
        }

.header-list {
    font-weight: 700;
}

.header-item {

}

.header-link {
    font-family: inherit;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--main-title-color);
}

.header-link:active,
.header-link:hover,
.header-link:focus {
    color: var(--main-highlight-color);
}

.header-contact {
    font-family: inherit;
    font-weight: 400;
}

.header-mail {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.header-mail:active {
    color: var(--main-highlight-color);
}
.header-mail:hover,
.header-mail:focus{
    color: var(--main-highlight-color);
}

.header-tel {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    text-transform: uppercase;
}

.header-tel:hover,
.header-tel:focus{
    color: var(--main-highlight-color);
}

/* Main informaition and service order*/

.order {
    font-family: inherit;
    color: #FFFFFF;
    background: var(--main-background-color);
    }
.order-title {
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
}
.order-btn {
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    background: #4D5AE5;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    align-items: center;
    }

.order-btn:active,
.order-btn:hover,
.order-btn:focus {
    background: var(--main-highlight-color);
    
}

/*--------Soft skils--------*/

.skils {

}
.skils-list {

}
.skils-item {

}
.skils-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2; 
    letter-spacing: 0.02em;
    color: var(--main-title-color);
}
.skils-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
   }

/*--------Service list--------*/

.service {
}
.servise-title {
    font-size: 36px;
    line-height: 1.11x;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--main-text-color);
}
.service-list {
}
.service-item {
    display: inline-block;
    vertical-align: top;
    }

/*--------Team card--------*/

.team {
    background: #F4F4FD;
}
.team-title {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--main-title-color);
}

.team-list {
}

.team-item {
    width: 264px;
    height: 380px;
    background: #FFFFFF;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
    display: inline-block;
    vertical-align: top;
}

.team-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--main-title-color);
}

.team-position {
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--main-text-color);
    }

    /*--------Footer--------*/

.footer {
    background: var(--main-background-color);
}
.footer-box {
}
.footer-logo {
    color: #F4F4FD;
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
.footer-logo-color{
    color: #4D5AE5;
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.footer-text {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #E7E9FC;
}

/*--------------PORTFOLIO--------------*/

/*------filter section-----*/
.filter{

}

.filter-list{

}

.filter-item{
    display: inline-block;
    vertical-align: top;
}

.filter-btn{
    font-family: inherit;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.04em;
    color: #4D5AE5;
    cursor: pointer;
/* ------box btn style----- */
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 24px;
    height: 48px;
    background: #F4F4FD;
    border: 1px solid #E7E9FC;
    border-radius: 4px;   
}

.filter-btn:hover,
.filter-btn:focus,
.filter-btn:active {
    color: #FFFFFF;
    background: var(--main-highlight-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
}

/*------ row-----*/

.row {
}
.row-list {
}

.row-item {
    background: #FFFFFF;
    border: 0.5px solid #F4F4FD;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);
    display: inline-block;
    vertical-align: top;
}
.row-about {
    font-family: inherit;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--main-title-color);
}
.row-text {
    font-family: inherit;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--main-text-color);
}